libIntegra/schemas/v2.0/iid.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InterfaceDeclaration">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="skip" />
        <!-- 
        <xsd:element name="InterfaceInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="Label" type="xsd:string" />
              <xsd:element name="Description" type="xsd:string" />
              <xsd:element name="Tags">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Tag" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ImplementedInLibIntegra" type="xsd:boolean" />
              <xsd:element name="Author" type="xsd:string" />
              <xsd:element name="CreatedDate" type="xsd:string" />
              <xsd:element name="ModifiedDate" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="EndpointInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Endpoint">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" />
                    <xsd:element name="Label" type="xsd:string" />
                    <xsd:element minOccurs="0" name="Description" type="xsd:string" />
                    <xsd:element name="Type" type="xsd:string" />
                    <xsd:element minOccurs="0" name="ControlInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ControlType" type="xsd:string" />
                          <xsd:element name="StateInfo">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="StateType" type="xsd:string" />
                                <xsd:element name="IsSavedToFile" type="xsd:boolean" />
                                <xsd:element name="IsInputFile" type="xsd:boolean" />
                                <xsd:element name="Constraint">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Range">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Minimum" type="xsd:byte" />
                                            <xsd:element name="Maximum" type="xsd:unsignedByte" />
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Default" type="xsd:decimal" />
                                <xsd:element minOccurs="0" name="Scale">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ScaleType" type="xsd:string" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="CanBeSource" type="xsd:boolean" />
                          <xsd:element name="CanBeTarget" type="xsd:boolean" />
                          <xsd:element name="IsSentToHost" type="xsd:boolean" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="StreamInfo">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="StreamType" type="xsd:string" />
                          <xsd:element name="StreamDirection" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="WidgetInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Widget">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="WidgetType" type="xsd:string" />
                    <xsd:element name="Label" type="xsd:string" />
                    <xsd:element name="Position">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="X" type="xsd:unsignedByte" />
                          <xsd:element name="Y" type="xsd:unsignedByte" />
                          <xsd:element name="Width" type="xsd:unsignedByte" />
                          <xsd:element name="Height" type="xsd:unsignedByte" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AttributeMappings">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AttributeMapping">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="WidgetAttribute" type="xsd:string" />
                                <xsd:element name="Endpoint" type="xsd:string" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ImplementationInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PatchName" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
-->
      </xsd:sequence>
      <xsd:attribute name="moduleGuid" type="xsd:string" use="required" />
      <xsd:attribute name="originGuid" type="xsd:string" use="required" />
      <xsd:attribute name="infoSchemaVersionMajor" type="xsd:unsignedByte" use="required" />
      <xsd:attribute name="infoSchemaVersionMinor" type="xsd:unsignedByte" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>