modules/XML/schemas/CoreSchema-0.2.xsd

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="SchemaTransform.xsl"?>
<!-- imports and stuff -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <xsd:annotation>
    <xsd:documentation>
      Core XML Schema file for the Integra Environment class definition
      and its associated module definition XML files. This XML Schema 
      shall correspond to the database core Schema. Instances of this
      Schema must have the &#91;coreSchemaVersionMajor&#93; and the 
      &#91;coreSchemaVersionMinor&#93; attributes to the root &#60;Class&#93;
      element as well as the &#91;classAbsoluteVersion&#93; (e.g. 0.2.234).
      The &#91;coreSchemaVersionMajor&#93; (but not the &#91;coreSchemaVersionMinor&#93;)
      is declared as fixed and the instance will *not* validate against this
      Schema unless its versionMajor is identical to that declared
      in the Schema.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Class">
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element name="ClassDefinition" 
                     minOccurs="1"
                     maxOccurs="1" 
                     type="classDefType">
        </xsd:element>
        <xsd:element name="ModuleDefinition" 
                     minOccurs="1"
                     maxOccurs="1" 
                     type="moduleDefType"/>
      </xsd:sequence>
      <xsd:attribute name="coreSchemaVersionMajor" 
                     type="xsd:int" use="required" 
                     fixed="0" />
      <xsd:attribute name="coreSchemaVersionMinor" 
                     type="xsd:int" use="required"
                     fixed="2" />
      <xsd:attribute name="classAbsoluteVersion"
                     type="xsd:int" use="required" 
                     fixed="0" />
      <xsd:anyAttribute />
    </xsd:complexType>
  </xsd:element>

  <!-- The actual definition of a class definition specification -->
  <xsd:annotation>
    <xsd:documentation>
      The &#60;ClassDefinition&#62; type holds all the attributes
      documented in the database schema (see
      &#91;&#91;http://wiki.integralive.org/development/resources/&#93;&#93;).
      It holds class specific data:
    </xsd:documentation>
    <xsd:documentation>
      - &#60;name&#62;: the name of the class (&#91;varchar128&#93;)
    </xsd:documentation>
    <xsd:documentation>
      - &#60;parent&#62;: a reference to the parent class
      (&#91;linksAttrType&#93;)
    </xsd:documentation>
    <xsd:documentation>
      - &#60;description&#62;: a short description of the class (&#91;varchar256&#93;)
    </xsd:documentation>
    <xsd:documentation>
      - &#60;classDocumentationID&#62;: optional link to the extended
      documentation of the class (&#91;linksAttrType&#93;)
    </xsd:documentation>
    <xsd:documentation>
      - &#60;tag&#62;: optional list of tag codes of the type
      (&#91;ClassTag&#93;)
    </xsd:documentation>
    <xsd:documentation>
      - &#60;attributes&#62; : A sequence of names of the attributes
      available for the current class (&#91;nameElementType&#93;)
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="classDefType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="parent">
        <xsd:complexType>
          <xsd:attributeGroup ref="linksAttr" />
          <xsd:attribute name="href" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="(\S)+\.ixd" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="documentation" 
                   minOccurs="0" 
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attributeGroup ref="linksAttr" />
          <xsd:attribute name="href" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="((\S)+\.)xml|xhtml|ixd" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tag" 
                   type="xsd:string"
                   maxOccurs="unbounded"/>
      <xsd:element name="attribute" 
                   type="cdAttributeList"
                   minOccurs="0"
                   maxOccurs="unbounded">
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="class-id" type="xsd:integer" use="required"/>
  </xsd:complexType>

  <!-- ModuleDefinitions class structure -->
  <xsd:annotation>
    <xsd:documentation>
      The Module definition must contain an unbounded number of ID'd
      attribute elements as well as one (1) isCore element of
      type xsd:boolean.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;attribute&#62;: ID'd list of attributes containing 
      all parameters for the module.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;moduleIsCore&#62;: A boolean with an atribute "value" indicating whether the current module is part of the Integra Core.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="moduleDefType">
    <xsd:sequence>
      <xsd:element name="attribute"
                   type="mdAttributeList"
                   minOccurs="0"
                   maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="moduleIsCore" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="value" type="xsd:boolean" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:annotation>
    <xsd:documentation>
      - &#60;name&#62; : Attribute name.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;description&#62; : Attribute description.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;documentation&#62; : Attribute docmentation links.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;type&#62; : The attribute type (&#91;integraTypes&#93;)
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="cdAttributeList">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="documentation" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attributeGroup ref="linksAttr"/>
          <xsd:attribute name="href" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="type" type="integraTypes" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required" />
  </xsd:complexType>

  <xsd:annotation>
    <xsd:documentation>
      - &#60;unit&#62;: The unit for each attribute (Hz, dB, etc).
    </xsd:documentation>
    <xsd:documentation>
      - &#60;description&#62;: An (optional) description of the attribute.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;minimum&#62;: The minimum legal value for each attribute.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;maximum&#62;: The maximum legal value for each attribute.
    </xsd:documentation>
    <xsd:documentation>
      - &#60;default&#62;: The default value for each attribute.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="mdAttributeList">
    <xsd:sequence>
      <xsd:element name="unit" type="integraUnits" minOccurs="0" />
      <xsd:element name="minimum" type="xsd:double" minOccurs="0"/>
      <xsd:element name="maximum" type="xsd:double" minOccurs="0"/>
      <xsd:element name="default" type="xsd:string" minOccurs="0"/>
      <xsd:element name="scope" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required" />
  </xsd:complexType>

  <xsd:annotation>
    <xsd:documentation>
      These types correspond to the type constants defined in integra_serialize.h
      in the libIntegra serializer.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="integraTypes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ntgString"/>
      <xsd:enumeration value="ntgFloat"/>
      <xsd:enumeration value="ntgDouble"/>
      <xsd:enumeration value="ntgInt"/>
      <xsd:enumeration value="ntgRef"/>
      <xsd:enumeration value="ntgAddress"/>
      <xsd:enumeration value="ntgAudio"/>
      <xsd:enumeration value="ntgUnspec"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:annotation>
    <xsd:documentation>
      Theseunits correspond to the unit constants defined in integra_serialize.h
      in the libIntegra serializer.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="integraUnits">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ntgHz"/>
      <xsd:enumeration value="ntgDb"/>
      <xsd:enumeration value="ntgMs"/>
      <xsd:enumeration value="ntgCent"/>
      <xsd:enumeration value="ntgRadians"/>
      <xsd:enumeration value="ntgMidi"/>
      <xsd:enumeration value="ntgUnspec"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:attributeGroup name="linksAttr">
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="xsd:string" default="simple" />
    <xsd:attribute name="role" type="xsd:string" use="optional" />
    <xsd:attribute name="show" use="optional" default="embed">    
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="new" /> 
          <xsd:enumeration value="replace" /> 
          <xsd:enumeration value="embed" /> 
          <xsd:enumeration value="other" /> 
          <xsd:enumeration value="none" /> 
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="actuate">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="onLoad" /> 
          <xsd:enumeration value="onRequest" /> 
          <xsd:enumeration value="other" /> 
          <xsd:enumeration value="none" /> 
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="label" type="xsd:string" /> 
    <xsd:attribute name="from" type="xsd:string" /> 
    <xsd:attribute name="to" type="xsd:string" /> 
  </xsd:attributeGroup>
  
</xsd:schema>
